apiVersion: v1
kind: Secret
metadata:
  name: s3-credentials
  labels:
    {{- include "spark-platform.labels" . | nindent 4 }}
type: Opaque
stringData:
  access-key: {{ .Values.s3.accessKey | quote }}
  secret-key: {{ .Values.s3.secretKey | quote }}
