apiVersion: v1
kind: Service
metadata:
  name: operations-portal
  namespace: operations-portal
  labels:
    app: operations-portal
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: operations-portal
