{{- if .Values.rbac.create }}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: spark-connect
  namespace: {{ .Release.Namespace }}
  labels:
    app: spark-connect
    chart: spark-4.1
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: spark-connect
subjects:
  - kind: ServiceAccount
    name: {{ .Values.rbac.serviceAccountName | default "spark-41" }}
    namespace: {{ .Release.Namespace }}
{{- end }}
