{{- if .Values.hiveMetastore.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "spark-4.1.fullname" . }}-hive-metastore-config
  labels:
    app: hive-metastore
    {{- include "spark-4.1.labels" . | nindent 4 }}
data:
  hive-site.xml.template: |
    <?xml version="1.0" encoding="UTF-8"?>
    <?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
    <configuration>
      <property>
        <name>javax.jdo.option.ConnectionURL</name>
        <value>jdbc:postgresql://{{ .Values.global.postgresql.host }}:{{ .Values.global.postgresql.port }}/{{ .Values.hiveMetastore.database.name }}</value>
      </property>
      <property>
        <name>javax.jdo.option.ConnectionDriverName</name>
        <value>org.postgresql.Driver</value>
      </property>
      <property>
        <name>javax.jdo.option.ConnectionUserName</name>
        <value>${POSTGRES_USER}</value>
      </property>
      <property>
        <name>javax.jdo.option.ConnectionPassword</name>
        <value>${POSTGRES_PASSWORD}</value>
      </property>
      <property>
        <name>hive.metastore.uris</name>
        <value>thrift://{{ include "spark-4.1.fullname" . }}-metastore:{{ .Values.hiveMetastore.service.port }}</value>
      </property>
      <property>
        <name>hive.metastore.thrift.port</name>
        <value>{{ .Values.hiveMetastore.service.port }}</value>
      </property>
      <property>
        <name>hive.metastore.thrift.bind.host</name>
        <value>0.0.0.0</value>
      </property>
      <property>
        <name>hive.metastore.warehouse.dir</name>
        <value>{{ .Values.hiveMetastore.warehouseDir }}</value>
      </property>
      <property>
        <name>datanucleus.schema.autoCreateAll</name>
        <value>false</value>
      </property>
      <property>
        <name>datanucleus.schema.validateTables</name>
        <value>false</value>
      </property>
      <property>
        <name>datanucleus.schema.validateColumns</name>
        <value>false</value>
      </property>
      <property>
        <name>datanucleus.schema.validateConstraints</name>
        <value>false</value>
      </property>
      <property>
        <name>hive.metastore.schema.verification</name>
        <value>false</value>
      </property>
    </configuration>
{{- end }}
