{{- if .Values.airflow.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "spark-standalone.fullname" . }}-airflow-config
  labels:
    {{- include "spark-standalone.airflowWebserverLabels" . | nindent 4 }}
data:
  airflow.cfg: |
    [core]
    dags_folder = {{ .Values.airflow.config.core.dags_folder }}
    load_examples = {{ .Values.airflow.config.core.load_examples }}
    executor = {{ .Values.airflow.config.core.executor }}

    [database]
    sql_alchemy_conn = postgresql://{{ .Values.airflow.postgresql.auth.username }}:{{ .Values.airflow.postgresql.auth.password }}@{{ include "spark-standalone.fullname" . }}-airflow-postgresql/{{ .Values.airflow.postgresql.auth.database }}

    [webserver]
    expose_config = {{ .Values.airflow.config.webserver.expose_config }}
    rbac = {{ .Values.airflow.config.webserver.rbac }}
    base_url = http://localhost:8080

    [scheduler]
    catchup_by_default = {{ .Values.airflow.config.scheduler.catchup_by_default }}

    [kubernetes]
    namespace = default

    [logging]
    base_log_folder = /opt/airflow/logs
  {{- if .Values.airflow.variables }}
  variables.json: |
    {{- toJson .Values.airflow.variables | nindent 4 }}
  {{- end }}
{{- end }}
