{{- /*
    External Secrets Operator template
    Supports: AWS Secrets Manager, GCP Secret Manager, Azure Key Vault, IBM Cloud Secrets Manager
*/ -}}
{{- if .Values.secrets.externalSecrets.enabled }}
apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: spark-secret-store
  namespace: {{ .Release.Namespace }}
spec:
  {{- if eq .Values.secrets.externalSecrets.provider "aws" }}
  provider:
    aws:
      service: SecretsManager
      region: {{ .Values.secrets.externalSecrets.region | default "us-east-1" }}
      auth:
        jwt:
          serviceAccountRef:
            name: spark-external-secrets-sa
  {{- else if eq .Values.secrets.externalSecrets.provider "gcp" }}
  provider:
    gcpsm:
      project: {{ .Values.secrets.externalSecrets.project }}
      auth:
        workloadIdentity:
          clusterLocation: {{ .Values.secrets.externalSecrets.gcp.clusterLocation }}
          clusterName: {{ .Values.secrets.externalSecrets.gcp.clusterName }}
          serviceAccountRef:
            name: spark-external-secrets-sa
  {{- else if eq .Values.secrets.externalSecrets.provider "azure" }}
  provider:
    azurekv:
      tenantId: {{ .Values.secrets.externalSecrets.azure.tenantId }}
      clientID: {{ .Values.secrets.externalSecrets.azure.clientId }}
      auth:
        workloadIdentity:
          serviceAccountRef:
            name: spark-external-secrets-sa
      vaults:
        - name: {{ .Values.secrets.externalSecrets.azure.vaultName }}
          objects:
            - secretName: {{ .Values.secrets.externalSecrets.azure.secretName }}
              type: secret
  {{- else if eq .Values.secrets.externalSecrets.provider "ibm" }}
  provider:
    ibm:
      serviceUrl: {{ .Values.secrets.externalSecrets.ibm.serviceUrl }}
      auth:
        secretRef:
          secretName: ibm-cloud-api-key
          namespace: {{ .Release.Namespace }}
          key: api-key
  {{- end }}
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: s3-credentials
  namespace: {{ .Release.Namespace }}
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: spark-secret-store
    kind: SecretStore
  target:
    name: s3-credentials
    creationPolicy: Owner
    template:
      type: Opaque
  data:
    - secretKey: access-key
      remoteRef:
        {{- if eq .Values.secrets.externalSecrets.provider "aws" }}
        key: {{ .Values.secrets.externalSecrets.prefix }}/s3-credentials
        property: access_key
        {{- else if eq .Values.secrets.externalSecrets.provider "gcp" }}
        key: {{ .Values.secrets.externalSecrets.prefix }}-s3-credentials
        property: accesskey
        {{- else if eq .Values.secrets.externalSecrets.provider "azure" }}
        key: {{ .Values.secrets.externalSecrets.prefix }}/s3-credentials
        property: access-key
        {{- else if eq .Values.secrets.externalSecrets.provider "ibm" }}
        key: {{ .Values.secrets.externalSecrets.prefix }}/s3-credentials
        property: ACCESS_KEY_ID
        {{- end }}
    - secretKey: secret-key
      remoteRef:
        {{- if eq .Values.secrets.externalSecrets.provider "aws" }}
        key: {{ .Values.secrets.externalSecrets.prefix }}/s3-credentials
        property: secret_key
        {{- else if eq .Values.secrets.externalSecrets.provider "gcp" }}
        key: {{ .Values.secrets.externalSecrets.prefix }}-s3-credentials
        property: secretkey
        {{- else if eq .Values.secrets.externalSecrets.provider "azure" }}
        key: {{ .Values.secrets.externalSecrets.prefix }}/s3-credentials
        property: secret-key
        {{- else if eq .Values.secrets.externalSecrets.provider "ibm" }}
        key: {{ .Values.secrets.externalSecrets.prefix }}/s3-credentials
        property: SECRET_ACCESS_KEY
        {{- end }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: spark-external-secrets-sa
  namespace: {{ .Release.Namespace }}
  annotations:
    {{- if eq .Values.secrets.externalSecrets.provider "aws" }}
    eks.amazonaws.com/role-arn: {{ .Values.secrets.externalSecrets.aws.iamRole }}
    {{- else if eq .Values.secrets.externalSecrets.provider "gcp" }}
    iam.gke.io/gcp-service-account: {{ .Values.secrets.externalSecrets.gcp.serviceAccountEmail }}
    {{- else if eq .Values.secrets.externalSecrets.provider "azure" }}
    azure.workload.identity/client-id: {{ .Values.secrets.externalSecrets.azure.clientId }}
    {{- end }}
{{- end }}
