{{- /*
    SealedSecrets template (git-native encryption)
    Encrypt secrets using: kubeseal -f <secret.yaml> -w <sealedsecret.yaml>
*/ -}}
{{- if .Values.secrets.sealedSecrets.enabled }}
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: s3-credentials
  namespace: {{ .Release.Namespace }}
spec:
  encryptedData:
    {{- range $key, $value := .Values.secrets.sealedSecrets.data }}
    {{ $key }}: {{ $value | b64enc }}
    {{- end }}
  template:
    metadata:
      name: s3-credentials
      namespace: {{ .Release.Namespace }}
    type: Opaque
{{- end }}
