{{- if .Values.core.hiveMetastore.enabled }}
{{- $chartName := .Chart.Name -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "spark.core.hiveMetastore.fullname" . }}-config
  labels:
    helm.sh/chart: {{ $chartName }}-{{ .Chart.Version }}
    app.kubernetes.io/component: "hive-metastore"
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Release.Name }}
data:
  hive-site.xml.template: |
    <?xml version="1.0" encoding="UTF-8"?>
    <?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
    <configuration>
      <property>
        <name>javax.jdo.option.ConnectionURL</name>
        <value>jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}</value>
      </property>
      <property>
        <name>javax.jdo.option.ConnectionDriverName</name>
        <value>org.postgresql.Driver</value>
      </property>
      <property>
        <name>javax.jdo.option.ConnectionUserName</name>
        <value>${POSTGRES_USER}</value>
      </property>
      <property>
        <name>javax.jdo.option.ConnectionPassword</name>
        <value>${POSTGRES_PASSWORD}</value>
      </property>
      <property>
        <name>hive.metastore.uris</name>
        <value>thrift://{{ include "spark.core.hiveMetastore.fullname" . }}:{{ .Values.core.hiveMetastore.service.port }}</value>
      </property>
      <property>
        <name>hive.metastore.thrift.port</name>
        <value>{{ .Values.core.hiveMetastore.service.port }}</value>
      </property>
      <property>
        <name>hive.metastore.thrift.bind.host</name>
        <value>0.0.0.0</value>
      </property>
      <property>
        <name>hive.metastore.warehouse.dir</name>
        <value>{{ .Values.core.hiveMetastore.warehouseDir }}</value>
      </property>
      <property>
        <name>datanucleus.schema.autoCreateAll</name>
        <value>false</value>
      </property>
      <property>
        <name>datanucleus.schema.validateTables</name>
        <value>false</value>
      </property>
      <property>
        <name>datanucleus.schema.validateColumns</name>
        <value>false</value>
      </property>
      <property>
        <name>datanucleus.schema.validateConstraints</name>
        <value>false</value>
      </property>
      <property>
        <name>hive.metastore.schema.verification</name>
        <value>false</value>
      </property>
    </configuration>
{{- end }}
