{{- if .Values.core.hiveMetastore.enabled }}
{{- $chartName := .Chart.Name -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "spark.core.hiveMetastore.fullname" . }}
  labels:
    helm.sh/chart: {{ $chartName }}-{{ .Chart.Version }}
    app.kubernetes.io/component: "hive-metastore"
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  selector:
    app.kubernetes.io/name: {{ $chartName }}-hive-metastore
    app.kubernetes.io/instance: {{ .Release.Name }}
  ports:
    - name: thrift
      port: {{ .Values.core.hiveMetastore.service.port }}
      targetPort: thrift
{{- end }}
