{{- if .Values.core.hiveMetastore.enabled }}
{{- $chartName := .Chart.Name -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "spark.core.hiveMetastore.fullname" . }}-db
  labels:
    helm.sh/chart: {{ $chartName }}-{{ .Chart.Version }}
    app.kubernetes.io/component: "hive-metastore"
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Release.Name }}
type: Opaque
stringData:
  POSTGRES_USER: {{ .Values.core.hiveMetastore.postgresql.username | default "hive" | quote }}
  POSTGRES_PASSWORD: {{ .Values.core.hiveMetastore.postgresql.password | default "hive123" | quote }}
{{- end }}
