image:
  repository: gcr.io/spark-operator/spark-operator
  tag: "v1beta2-1.3.8-3.1.1"
  pullPolicy: IfNotPresent

replicas: 1

sparkJobNamespace: "default"

webhook:
  enable: true
  port: 8080

resources:
  requests:
    memory: "256Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "500m"

rbac:
  create: true
