# Jupyter Spark Connect K8s scenario for Spark 4.0.2
# Usage: helm install spark-40 charts/spark-4.0 -f charts/spark-4.0/jupyter-connect-k8s-4.0.2.yaml

sparkVersion: "4.0.2"

connect:
  enabled: true
  backendMode: k8s
  replicas: 1

jupyter:
  enabled: true
  image: "jupyter/pyspark-notebook:spark-4.0.2"
  
spark:
  version: "4.0.2"
  executor:
    instances: 2

core:
  minio:
    enabled: true
  postgresql:
    enabled: true

monitoring:
  prometheus:
    enabled: true
  grafana:
    enabled: true

historyServer:
  enabled: true
