{{- if .Values.hiveMetastore.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: hive-metastore-config
  labels:
    app: hive-metastore
data:
  hive-site.xml: |
    <?xml version="1.0" encoding="UTF-8"?>
    <?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
    <configuration>
      <!-- Metastore connection -->
      <property>
        <name>javax.jdo.option.ConnectionURL</name>
        <value>jdbc:postgresql://postgresql:5432/{{ .Values.postgresql.database }}</value>
      </property>
      <property>
        <name>javax.jdo.option.ConnectionDriverName</name>
        <value>org.postgresql.Driver</value>
      </property>
      <property>
        <name>javax.jdo.option.ConnectionUserName</name>
        <value>{{ .Values.postgresql.username }}</value>
      </property>
      <property>
        <name>javax.jdo.option.ConnectionPassword</name>
        <value>{{ .Values.postgresql.password }}</value>
      </property>

      <!-- Metastore service -->
      <property>
        <name>hive.metastore.uris</name>
        <value>thrift://hive-metastore:9083</value>
      </property>
      <property>
        <name>hive.metastore.warehouse.dir</name>
        <value>{{ .Values.hiveMetastore.warehouseDir }}</value>
      </property>

      <!-- Schema initialization -->
      <property>
        <name>datanucleus.schema.autoCreateAll</name>
        <value>true</value>
      </property>
      <property>
        <name>hive.metastore.schema.verification</name>
        <value>false</value>
      </property>

      <!-- S3 configuration -->
      <property>
        <name>fs.s3a.endpoint</name>
        <value>{{ .Values.s3.endpoint }}</value>
      </property>
      <property>
        <name>fs.s3a.access.key</name>
        <value>{{ .Values.s3.accessKey }}</value>
      </property>
      <property>
        <name>fs.s3a.secret.key</name>
        <value>{{ .Values.s3.secretKey }}</value>
      </property>
      <property>
        <name>fs.s3a.path.style.access</name>
        <value>{{ .Values.s3.pathStyleAccess }}</value>
      </property>
      <property>
        <name>fs.s3a.impl</name>
        <value>org.apache.hadoop.fs.s3a.S3AFileSystem</value>
      </property>
      <property>
        <name>fs.s3a.connection.ssl.enabled</name>
        <value>{{ .Values.s3.sslEnabled }}</value>
      </property>
    </configuration>
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hive-metastore
  labels:
    app: hive-metastore
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hive-metastore
  template:
    metadata:
      labels:
        app: hive-metastore
    spec:
      serviceAccountName: {{ .Values.serviceAccount.name }}
      initContainers:
      # Wait for PostgreSQL to be ready
      - name: wait-for-postgresql
        image: busybox:1.36
        command: ['sh', '-c', 'until nc -z postgresql 5432; do echo "Waiting for PostgreSQL..."; sleep 2; done; echo "PostgreSQL is ready!"']
      containers:
      - name: hive-metastore
        image: "{{ .Values.hiveMetastore.image.repository }}:{{ .Values.hiveMetastore.image.tag }}"
        imagePullPolicy: {{ .Values.hiveMetastore.image.pullPolicy }}
        env:
        - name: SPARK_MODE
          value: "metastore"
        - name: S3_ENDPOINT
          value: {{ .Values.s3.endpoint }}
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: s3-credentials
              key: access-key
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: s3-credentials
              key: secret-key
        ports:
        - name: thrift
          containerPort: 9083
        resources:
          {{- toYaml .Values.hiveMetastore.resources | nindent 10 }}
        volumeMounts:
        - name: hive-config
          mountPath: /opt/spark/conf/hive-site.xml
          subPath: hive-site.xml
        readinessProbe:
          tcpSocket:
            port: 9083
          initialDelaySeconds: 30
          periodSeconds: 10
        livenessProbe:
          tcpSocket:
            port: 9083
          initialDelaySeconds: 60
          periodSeconds: 30
      volumes:
      - name: hive-config
        configMap:
          name: hive-metastore-config
---
apiVersion: v1
kind: Service
metadata:
  name: hive-metastore
  labels:
    app: hive-metastore
spec:
  ports:
  - name: thrift
    port: 9083
    targetPort: 9083
  selector:
    app: hive-metastore
{{- end }}
