apiVersion: v1
kind: Service
metadata:
  name: jupyterhub
  namespace: dataops
  labels:
    app: jupyterhub
spec:
  type: NodePort
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
      name: http
      nodePort: 30080
  selector:
    app: jupyterhub

